.task
bin
cmd/mobile/frontend/dist
cmd/mobile/frontend/dist-lite
cmd/mobile/frontend/node_modules
cmd/mobile/frontend/.bindings-tmp*
cmd/desktop/frontend/dist
cmd/desktop/frontend/node_modules
cmd/desktop/frontend/.bindings-tmp*
build/linux/appimage/build
build/windows/nsis/MicrosoftEdgeWebview2Setup.exe
build/ios/xcode/
build/android/overlay.json
build/android/gen/
build/android/build
build/android/app/build/
build/android/app/src/main/jniLibs
build/android/.gradle/
*.zip
*.syso
*.car
